@model Vidly.Models.Movie

@{
    ViewBag.Title = "Detail of " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>@Model.Name</h4>
    <ul>
        <li>Genre: @Model.Genre.Name</li>
        <li>Release Date: @string.Format("{0:dd MMM yyyy}", @Model.ReleaseDate)</li>
        <li>Date Added: @string.Format("{0:dd MMM yyyy}", @Model.DateAdded)</li>
        <li>Number In Stock: @Model.NumberInStock</li>
    </ul>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
