@model Vidly.ViewModel.CustomerFormViewModel

@{
    ViewBag.Title = "Create New Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>


@using (Html.BeginForm("Save","Customers", FormMethod.Post)) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Customer.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Customer.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Customer.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Customer.BirthofDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Customer.BirthofDate, "{0:dd MMM yyyy}", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Customer.BirthofDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Customer.MembershipTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Customer.MembershipTypeId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="checkbox">
            <label class="col-md-offset-2 col-md-10">
                @Html.CheckBoxFor(model => model.Customer.IsSubscribedToNewsletter) Is Subsribe to Newsletter?
            </label>
        </div>
        @Html.HiddenFor(model => model.Customer.Id)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
