@model Vidly.Models.Customer

@{
    ViewBag.Title = "Details of " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>@Model.Name</h3>
    <hr />
    <ul>
        <li>Membership Type: @Model.MembershipType.Name</li>
        @if (Model.BirthofDate.HasValue) {
            <li>Date of Birth: @string.Format("{0:dd MMM yyyy}", Model.BirthofDate)</li>
        }
        <li>Is Subcribed to Newsletter? @Model.IsSubscribedToNewsletter </li>
    </ul>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
